.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  
    &-main {
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      display: flex;
      width: 480px;
      padding: 16px;
      flex-direction: column;
      align-items: center;
      gap: 32px;

      .title-text {
        color: #201D20;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }

      .bottom-title-text {
        color: #8B7E8B;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      .modal-message {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 16px;
        align-self: stretch;

        color: #201D20;
        font-family: Inter;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }
    }

    .close-button {
        display: flex;
        padding: 6px 18px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        flex: 1 0 0;

        border-radius: 8px;
        border: 1px solid #F37521;
        background: #F37521;
        /* Shadow/xs */
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

        color: #FCFCFC;
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

        width: 100%;
    }
  
    .modal-form {
      flex-direction: row;
      width: 445px;
      justify-content: center;
      align-items: center;
      gap: 16px;

      .form-group {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        align-self: stretch;

        input {
          padding: 8px 16px;
          align-items: center;
          gap: 8px;
          align-self: stretch;
        }
      }

      .submit-button {
        width: 100%;
        margin-top: 25px;
        align-items: flex-start;
        padding: 6px 18px;
        justify-content: center;
        align-items: center;

        border-radius: 8px;
        border: 1px solid #CFC9CF;
        background: #FCFCFC;
        box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
      }
    }

    &.display-block {
      display: block;
    }
  
    &.display-none {
      display: none;
    }
}