.team-members-list-container {
    display: flex;
    width: 1600px;
    height: 808px;
    padding: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    
    .header-container {
        display: flex;
        align-items: center;
        gap: 4px;
        align-self: stretch;
    
        .title-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 4px;
            flex: 1 0 0;

            .main-title-text {
                color: var(--text-text-color, #201D20);
                text-align: center;
                font-family: Inter;
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
    
            .bottom-title-text {
                color: var(--text-text-color-light, #8B7E8B);
                text-align: center;
                
                /* Text xs/Text xs Medium */
                font-family: Inter;
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }
        }
    
        .add-team-member-button {
            display: flex;
            padding: 6px;
            justify-content: center;
            align-items: center;
            gap: 8px;
        }
    }
    
    .team-member-table {
        width: 100%;
        border-collapse: collapse;
        border-bottom: 1px solid #E2DFE2;
        font-family: Inter;

      
        .row {
            display: flex;
            align-self: stretch;
      
          .header-cell {
            flex: 1;
            display: flex;
            height: 44px;
            padding: 12px 16px;
            align-items: center;
            align-self: stretch;
            font-weight: bold;
            border: 1px solid #ddd;

            color: #667085;
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px; /* 150% */
          }
      
          .cell {
            flex: 1;
            padding: 8px;
            border: 1px solid #ddd;
            display: flex;
            height: 40px;
            padding: 16px;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 20px; /* 142.857% */
          }
        }
    }
}


  